{% extends 'estrutura.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="lead mb-3">Edição de Regras</div>
	<div class="row">
		<div class="col-md-8 col-12">
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th scope="col">Campo</th>
			      <th scope="col">Valor</th>
				  <th scope="col"></th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
				  {% for regra in regras %}
					 <tr>
					      <td>{{regra.campo}}</td>
					      <td>{{regra.valor}}</td>
					      <td><a href="{% url 'processamento:editar' regra.pk %}">Editar</a> </td>
					      <td><a href="{% url 'processamento:excluir' regra.pk %}">Excluir</a></td>
					 </tr>
				  {% endfor %}
			  </tbody>
			</table>
		</div>
		<div class="col-md-4 col-12">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
				  <div class="form-group">
				    <label>{{ field.label }}</label>
				    {% render_field field class="form-control" %}
				  </div>
				{% endfor %}

				  <button type="submit" class="btn btn-primary">Enviar</button>
				  <a href="/" class="btn btn-secondary">Voltar</a>
			</form>
		</div>
	</div>
{% endblock %}
